@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root{

    --header-color-1: #1e3932;
    --color-2: #008248;
    --color-3: #d4e9e2;
    --color-4: #f1f8f6;
    --color-5: #f3f1e7;
    --color-6: #000000;
    --COLOR-7: #cba258;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* HEADER SECTION / NAVIGATION */
.nav-container{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navigation{
    padding: 1.3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(---color-6);
    background-color: #fff;
    

}
ul li{
    display: inline;
    margin: 0 10px;
}
img{
    max-width: 60px;
    max-height: 60px;
}
.nav1{
    display: flex;
    align-items: center;
}
.nav1 a.logo{
    margin-right: 3rem;
}
.nav1 li{
    font-size: 1.1rem;
    font-weight: 600;
}

.nav2 li a{
    text-decoration: none;
    color: var(--color-6);
}
.nav2 .btn{
    border: 2px solid var(--color-6);
    padding: .3rem 15px;
    border-radius: 20px;
    font-size: .9rem;
    font-weight: 600;
}
.nav2 .btn-1{
    color: #000;
    background-color: #fff;
    
}
.nav2 .btn-2{
    color: #fff;
    background-color: #000;
    
}
.header-footer{
    color: #fff;
    background-color: var(--header-color-1);
    padding: 1rem 9rem;
}
.header-footer h3{
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
}
.hero{
    min-height: 110vh;
    background-color: var(--color-3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}
.hero-container{
    height: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(5px);
}
.hero-heading{
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.hero .subheading-1{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
}
.hero .subheading-2{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.hero .hero-btn{
    text-decoration: none;
    border: 1px solid var(--color-2);
    max-width: 110px;;
    padding: .6rem 1.2rem;
    transform: translateY(20px);
    text-align: center;
    background-color: var(--color-2);
    color: #fff;
    border-radius: 10px;
}
.hero .subheading-2{
    transform: translateY(35px);
}
.services-section{
    padding: 4rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
    position: relative;

}
/* SERVICES SECTION */
.services-container{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    
}
.box{
    text-align: center;
     display: flex;
     flex-direction: column;
     padding: 1rem;
     justify-content: space-between;
     height: 200px;
     align-items: center;
     margin: 0 20px;
     width: 375px;
     
}
.box p{
    
}
.services-section .services-heading{
    font-size: 1.7rem;
    transform: translateY(35px);
}
.services-subheading{
    margin-top: 10px;
    font-weight: 700;
    font-size: 1rem;
}
.services-container .num-header{
    border: 1px solid var(--color-2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 1rem;
    color: var(--color-2);
    font-size: 1.5rem;
    
}
u{
    text-decoration: underline;
    color: var(--color-2);
}
/* TABINATION SECTION */
.tabination-section{
    padding: 1rem;
    position: relative;
    min-height: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
}

.tabination-header{
    margin: 10px 0;
    font-size: 1.8rem;
}
.tab-button-container{
    display: flex;
}
.tab-button-container span{
    color: var(--COLOR-7);
}
.tab{
    padding: 1rem 2rem;
    /* border: 1px solid #000; */
    font-size: 1.2rem;
    position: relative;
}
.selected-tab::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;

    width: 100%;
    height: 15%;
    background-color: var(--color-2);

}
.tabination-container{
    position: relative;
    background-color: var(--color-3);
    height: 40vh;
}
.tabination-content{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000;
    display: none;
    background-color: var(--color-3);
    padding: 2rem;

    /* display: flex;
    /* justify-content: center;
    align-items: center; */ */

}
.tabination-content img{
    min-height: 70%;
    min-width: 40%;
    float: left;
    
}
.active-tab{
    display: block;
}
.content-1{
    /* background-color: blue; */
}
.content-2{
    /* background-color: green; */
}
.content-3{
    /* background-color: red; */

}
.content-4{
    /* background-color: yellow; */
}
.content-5{
    /* background-color: orange; */
}
.star{
    /* min-width: 100vw;
    min-height: 100vh; */
    min-height: 750px;
    min-width: 2050px;
    position: absolute;
    right: -30%;
    
}